.collaborator-menu-cls {
    background-color: #eeeeee;
    position: fixed;
    display: block;
    top: 190px;
    width: 20%;
    right: 10%;
    z-index: 100;
    min-width: 175px;
    height: 100%;
    padding: 0 10px;
    border-radius: 5px;
}

.collaborator-menu-cls h5 {
    margin: 15px 0 0 0;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #bdbdbd;
}

.collaborator-menu-cls button {
    margin-top: 5px;
}