.restaurant-list-cls {
    display: block;
    position: relative;
    margin: 15px 0 0 0;
    /* left: 35%;
    width: 30%; */
    left: 31%;
    width: 37.5%;
    top: 190px;
    /* min-width: 400px; */
}

.restaurant-list-cls .list-cls {
    display: inline-block; /* make the side follow the element inside*/
    min-height: 90px;
    /* padding: 20px 20px 10px 20px; */
    height: 100%;
    width: 100%;
    margin: 3px;
}

.restaurant-list-cls .list-cls button {
    width: 100%;
    height: 30px;
}

.restaurant-list-cls .list-cls select {
    /* float: right; */
    display: block;
    position: relative;
    width: 100%;
    padding: 2px;
    margin-left: 10px;
}

.restaurant-list-cls .list-cls label {
    font-size: smaller;
    font-weight: 600;
    padding: 5px;
}

.restaurant-list-cls .list-cls i {
    display: block;
    font-size: 11px;
    padding: 5px;
}

.restaurant-list-cls .list-cls div {
    display: block;
    width: 50%;
    position: relative;
}

.restaurant-list-cls .list-cls div:nth-child(2) {
    display: block;
    width: 50%;
    position: relative;
}

.restaurant-list-cls .list-cls div:last-child {
    width: 100%;
}

.restaurant-list-cls .list-cls:nth-child(odd) {
    background-color: #eeeeee;
}
.restaurant-list-cls .list-cls:nth-child(even) {
    background-color: #ffffff;
}

.restaurant-list-cls .list-cls:hover {
    outline-style: none;
    box-shadow: 0px 3px 5px 2px rgba(158, 158, 158, 0.5);
    cursor: pointer;
}

.restaurant-list-cls .list-cls .remove-cls {
    content: 'x';
    position: relative;
    width: px;
    background-color: rgba(158, 158, 158, 0.5);;
    border-radius: 50%;
    text-align: center;
    width: 25px!important;
    height: 25px;
    display: none;
    top: -13px;
    right: -10px;
    color: #ffffff;
    float: right!important;
}

.restaurant-list-cls .list-cls .remove-cls:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.restaurant-list-cls .list-cls:hover .remove-cls {
    display: inline-block;
    cursor: pointer;
}

/* .restaurant-list-cls .list-cls::before {
    content: 'x';
    position: relative;
    width: px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    text-align: center;
    width: 25px!important;
    height: 25px;
    display: none;
    top: -13px;
    right: -10px;
    color: #ffffff;
    float: right!important;
}

.restaurant-list-cls .list-cls:hover::before {
    display: inline-block;
    cursor: pointer;
} */

